div.monokai-theme-monokai-pro-vscode-themes-Monokai-Pro-json {
    /* Monokai Pro */
    --background-color: #2D2A2E;
    --background-color-darker: #211F22;
    --border-color: #353337;
    --border-color-light: #4b484c;
    --border-color-dark: #000000;
    --font-primary-color: #929192;
    --font-secondary-color: #FFFFFF;
    --dirty-line-color: #FC9867;
}

div.dooez-alt-catppuccin-vsc-themes-macchiato-json {
    /* Catppuccin Machiatto */
    --background-color: #25273A;
    --background-color-darker: #1b1d2d;
    --border-color: #33364b;
    --border-color-light: #585b78;
    --border-color-dark: #585b78;
    --font-primary-color: #C6A0F6;
    --font-secondary-color: #CAD3F5;
    --dirty-line-color: #90D7E3;
}

/* Line numbers */
.line-numbers {
    font-size: 12.5px !important;
}

/* Better font rendering */
* {
    text-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/* Sticky editor widget */
.monaco-editor .sticky-widget {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
    width: 100% !important;
}

/* Unsed */
.monaco-editor.showUnused .squiggly-inline-unnecessary {
    color: #e7e7e7;
    text-decoration: #bababa wavy underline;
    text-decoration-thickness: 0.8px;
    text-underline-offset: 2px;
}

/* Line colors editor left */
.monaco-editor .dirty-diff-modified-pattern:before {
    background-image: linear-gradient(0deg, var(--dirty-line-color) 0%, var(--dirty-line-color) 100%) !important;
}

.monaco-editor .dirty-diff-modified-pattern {
    background-image: linear-gradient(0deg, var(--dirty-line-color) 0%, var(--dirty-line-color) 100%) !important;
}

/* Intellisense window and action modal */
.monaco-editor .suggest-widget,
.action-widget {
    background-color: var(--background-color, var(--vscode-editorSuggestWidget-background)) !important;
    /* Dark background */
    border: 1px solid var(--border-color-dark, var(--vscode-editorHoverWidget-border)) !important;
    /* Border color */
    border-radius: 7px !important;
    padding: 5px !important;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, .45) !important;
}

.monaco-editor .suggest-widget .monaco-list .monaco-list-row {
    padding: 0 20px !important;
}

.monaco-editor .suggest-widget .monaco-list .monaco-list-row.focused {
    border-radius: 5px !important;
}

/* Line Number */
.monaco-editor .margin-view-overlays .line-numbers,
.monaco-editor .sticky-line-number-inner {
    text-align: left;
}

/* terminal */
#terminal {
    height: 100% !important;
    background-color: #fff !important;
}

/* Fix terminal height */
#terminal div.split-view-container {
    height: calc(100% - 0.4rem) !important;
}

.composite.title.has-composite-bar {
    justify-content: space-between !important;
    background-color: var(--background-color) !important;
    border-top: 1px solid var(--border-color) !important;
}

.composite.title.has-composite-bar .title-label {
    display: none !important;
}

div.composite.title.has-composite-bar {
    height: 50px !important;
    padding: 0 10px 0 0 !important;
}

div.composite.title.has-composite-bar .composite-bar-container .actions-container .action-label {
    font-weight: bold !important;
    padding: 0 20px !important;
}

.monaco-workbench .pane-body.integrated-terminal .tabs-container {
    border-bottom: 1px solid var(--border-color) !important;
}

[id="workbench.parts.panel"] div.monaco-scrollable-element.mac {
    background-color: var(--background-color, var()) !important;
}

div.composite.title.has-composite-bar .composite-bar-container {
    height: 100% !important;
    align-items: center !important;
}

div.composite.title.has-composite-bar .composite-bar {
    height: 100% !important;
}

div.composite.title.has-composite-bar .composite-bar .monaco-action-bar {
    height: 100% !important;
}

/* Composite bar action item */
div.composite.title.has-composite-bar .composite-bar-container .action-item.checked {
    margin: 0 !important;
    background-color: var(--border-color) !important;
}

div.composite.title.has-composite-bar .composite-bar-container .action-item {
    height: 100% !important;
    padding: 0 !important;
}

div.composite.title.has-composite-bar .composite-bar-container .action-item .action-label {
    font-size: 1.05em !important;
    font-weight: 500 !important;
}

div.composite.title.has-composite-bar .composite-bar-container .action-item.checked .active-item-indicator {
    width: 100% !important;
    left: 0 !important;
    top: 0 !important;
}

div.composite.title.has-composite-bar .composite-bar-container .action-item.checked .active-item-indicator:before {
    bottom: 0 !important;
}

/* Editor */
.view-lines.monaco-mouse-cursor-text {
    border-left: 1px solid var(--border-color) !important;
}

/* Sidebar */
.part.sidebar.left.pane-composite-part .composite.title {
    background: var(--background-color) !important;
}

.part.sidebar {
    border-right: 1px solid var(--border-color) !important;
}

/* Sidebar title */
.inline-titlebar-placeholder {
    display: none !important;
}

.monaco-scrollable-element.mac {
    background: var(--background-color) !important;
}

.composite.title {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-items: center !important;
    border-bottom: 1px solid var(--border-color) !important;
}

.title-label {
    display: flex !important;
}

.composite.title h2 {
    display: inline-block;
    font-weight: bold !important;
    font-size: 12px !important;
    text-transform: uppercase;
    color: var(--font-primary-color) !important;
}

/* Scroll Bar */
.slider {
    position: absolute !important;
    right: 4px !important;
    width: 8px !important;
    background: var(--border-color-light) !important;
    border-radius: 5px;
    left: auto !important;
}

.codicon-toolbar-more,
.codicon-word-wrap {
    display: block !important;
}

.statusbar {
    padding-left: 10px !important;
    height: 33px !important;
    font-size: 13.5 !important;
    position: absolute !important;
    bottom: 0 !important;
}

.statusbar-item[aria-label="remote"] {
    display: none !important;
}

/* Tooltip box style */
.monaco-editor-hover,
.monaco-hover {
    box-shadow: 0px 8px 32px rgba(0, 0, 0, .45) !important;
    /* padding: 10px !important; */
    backdrop-filter: blur(3px) !important;
    border-radius: 10px !important;
    border: 1px solid var(--border-color-dark, var(--vscode-editorHoverWidget-border)) !important
}

/* Project title's style at the top. */
.monaco-workbench .part.titlebar>.titlebar-container>.titlebar-center>.window-title>.command-center .action-item.command-center-center {
    border: none !important;
    background: transparent !important;
}

/* Project Title */
.titlebar-left {
    justify-content: flex-start !important;
    flex-grow: 0 !important;
    width: auto !important;
}

/* Search Label */
.search-label {
    font-size: 12px !important;
    display: block;
    color: var(--font-secondary-color) !important;
}

.action-item.command-center-center {
    margin-left: 60px !important;
}

.titlebar-right {
    color: var(--font-secondary-color) !important;
}

.titlebar-center {
    position: relative;
}

.titlebar-center .window-title {
    position: relative;
    z-index: 10;
}

/* Search icon */
.search-icon {
    display: none !important;
}

.codicon-search::before {
    display: none !important;
}

.codicon-arrow-right,
.codicon-arrow-left {
    display: none !important;
}

.titlebar-container {
    background-color: var(--background-color) !important;
}

.part.titlebar {
    border-bottom: 1px solid var(--border-color) !important;
}

/* --------------- */
/* Command Palette */
/* --------------- */

.quick-input-widget {
    transform: translateY(-50%) !important;
    top: 50% !important;
    padding: 0 !important;
    border-radius: 7px !important;
    background-color: var(--background-color, var(--vscode-quickInput-background)) !important;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, .45) !important;
    border: 1px solid var(--border-color, var(--vscode-editorHoverWidget-border)) !important;
}

.quick-input-widget .monaco-findInput {
    width: 100% !important;
    max-width: none !important;
}

.quick-input-widget .monaco-icon-label {
    align-items: center !important;
}

.quick-input-widget .monaco-findInput .controls {
    right: 0 !important;
    top: 50% !important;
    transform: translateY(-90%) !important;
}

.quick-input-widget .monaco-inputbox.idle.synthetic-focus {
    display: flex !important;
    width: 100% !important;
    margin-bottom: 0.5rem !important;
}

/* Remove background for lists */
.monaco-list-rows {
    background: transparent !important;
}

.notifications-toasts .monaco-list-row:hover {
    background: none !important;
}

/* Command palette text input */
.quick-input-list .monaco-list .monaco-list-row:not(.focused) {
    color: var(--font-secondary-color) !important;
}

.quick-input-filter .monaco-inputbox {
    border-radius: 8px !important;
    padding: 8px !important;
    border: none !important;
    background-color: transparent !important;
    font-size: 14px !important;
    margin-bottom: 16px !important;
}

.quick-input-filter .monaco-inputbox.synthetic-focus {
    border: none !important;
    outline: none !important;
}

.monaco-workbench .part.titlebar>.titlebar-container>.titlebar-center>.window-title>.command-center .action-item.command-center-center {
    width: auto !important;
}

.editor-group-watermark>.letterpress {
    display: none !important;
}

.watermark-box {
    font-size: 16px !important;
    display: flex !important;
    flex-direction: column !important;
}

.watermark-box dl {
    margin: 0 !important;
    height: 40px !important;
}

.monaco-workbench .part.editor>.content .editor-group-container.empty.active {
    background-color: var(--background-color-darker) !important;
    opacity: 1 !important;
}

/* Search Widget */
.editor-widget.find-widget.visible {
    background-color: var(--background-color, var(--vscode-editorWidget-background)) !important;
    right: 0 !important;
    left: 0 !important;
    width: 100% !important;
    max-width: none !important;
    height: fit-content !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    padding: 0 1.8rem !important;
    border-bottom: 1px solid var(--border-color);
}

.editor-widget.find-widget.visible .controls {
    min-width: 70px;
}

.editor-widget.find-widget.visible .monaco-sash.mac.vertical {
    display: none !important;
}

/* Arrow toggle find widget */
.button.toggle.left.codicon.codicon-find-collapsed {
    position: absolute !important;
    left: 0 !important;
    top: 50% !important;
    transform: translate(25%, -50%);
    z-index: 10 !important;
}

.find-part,
.replace-part {
    gap: 0.5rem !important;
    width: 100% !important;
    align-items: center !important;
}

.monaco-findInput {
    display: flex !important;
    justify-content: space-between;
    gap: 2rem !important;
    width: 100% !important;
    max-width: 400px !important;
}

.find-part .monaco-findInput,
.replace-part .monaco-findInput {
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    padding: 0.5rem !important;
}

.replace-part, .find-part {
    margin-top: 0 !important;
}

.replace-part .controls,
.find-part .controls {
    position: initial !important;
}

/* Close button find widget */
.monaco-editor .find-widget .codicon-widget-close {
    position: absolute !important;
    right: 1rem !important;
    top: 0.7rem !important;
    transform: scale(1.2);
}

.monaco-editor .find-widget .find-part {
    gap: 2rem;
    margin-left: 1.3rem;
}

.monaco-editor .find-widget .replace-part {
    gap: 2rem;
    margin-left: 1.3rem;
}

.monaco-editor .find-widget .find-part .monaco-inputbox,
.monaco-editor .find-widget .replace-part .monaco-inputbox {
    background-color: var(--background-color) !important;
    border: none !important;
    margin-top: 1px;
    outline: none !important;
}

/* ----------------- */
/* Typescript errors */
/* ----------------- */

/* Allow copying */
.codicon-none {
    user-select: text !important;
    -webkit-user-select: text !important;
}

/* Hide errors */
div.monaco-hover-content:has(.codicon-none) > .hover-row:first-child {
    display: none !important;
}
div.monaco-hover-content:has([style="color:#f96363;"]) > .hover-row:first-child {
    display: none !important
}

/* Change order */
.monaco-hover .monaco-hover-content {
    display: flex;
    flex-direction: column;
}
.monaco-hover .monaco-hover-content .hover-row {
    order: 2;
}
.monaco-hover .monaco-hover-content .hover-row:has(.codicon-none) {
    order: 1;
}
.monaco-hover .monaco-hover-content .hover-row:has([style="color:#f96363;"]) {
    order: 1;
}

.monaco-hover-content {
    background-color: var(--background-color) !important;
}

.monaco-hover-content .hover-row-contents {
    width: 100% !important;
}

.monaco-hover .monaco-hover-content .hover-row {
    padding: 10px !important;
}

.monaco-hover .actions {
    background: var(--background-color) !important;
}

.monaco-tokenized-source {
    background-color: var(--background-color) !important;
}

.monaco-editor .monaco-hover .hover-row:not(:first-child):not(:empty) {
    border-top: 1px solid var(--border-color, var(--vscode-editorHoverWidget-border)) !important;
}

/* ---------- */
/* Status Bar */
/* ---------- */

.part.statusbar {
    background-color: var(--background-color, var(--vscode-statusBar-background)) !important;
}

.part.statusbar.status-border-top {
    --status-border-top-color: var(--border-color) !important;
    color: var(--font-secondary-color) !important;
}

/* ------------ */
/* Activity Bar */
/* ------------ */

.activitybar {
    background: var(--background-color, var(--vscode-activityBar-background)) !important;
}

/* ---------- */
/* Keybinding */
/* ---------- */

.monaco-keybinding-key {
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
    font-size: 13.5px !important;
    margin: 0 !important;
    padding: 0 2px !important;
}

/* -------------- */
/* Statusbar icon */
/* -------------- */

.statusbar .codicon {
    font-size: 13px !important;
}

/* ----------------------------- */
/* Remove Launchpad in Statusbar */
/* ----------------------------- */

[id="eamodio.gitlens.gitlens.launchpad"],
[id="status.forwardedPorts"],
[id="steoates.autoimport"],
[id="status.editor.encoding"],
[id="status.editor.eol"],
[id="eamodio.gitlens.gitlens.graph"],
[id="WallabyJs.quokka-vscode"] {
    display: none !important;
}

[id="status.scm.1"] {
    border-right: 1px solid var(--border-color) !important;
    margin-right: 4px !important;
    padding-right: 4px !important;
}

/* ------------------ */
/* Add color to icons */
/* ------------------ */

.codicon.codicon-error {
    color: #F66088 !important;
    font-weight: bold !important;
}

.codicon.codicon-warning {
    color: #E7C861 !important;
    font-weight: bold !important;
}

/* ------------------ */
/* Notification Toast */
/* ------------------ */

.suggest-input-container {
    background-color: var(--background-color, var(--vscode-input-background)) !important;
}

.notifications-toasts.visible {
    bottom: 40px !important;
    right: 15px !important;
}

.notifications-toasts.visible .notification-list-item {
    border-radius: 50% !important;
}

.notifications-toasts.visible .notification-toast {
    background: var(--background-color) !important;
    border-radius: 7px !important;
    padding: 0.2rem 0.6rem !important;
    border: 1px solid var(--border-color) !important;
}

.notifications-center.visible {
    bottom: 40px !important;
    right: 15px !important;
    border-radius: 7px !important;
}

.notifications-center-header {
    background-color: var(--background-color, var(--vscode-notificationCenter-header-background)) !important;
    border-bottom: 1px solid var(--border-color) !important;
}

.explorer-folders-view .monaco-list-row {
    font-size: 13.5px !important;
    padding-left: 20px !important;
    font-weight: 400 !important;
}

.explorer-folders-view .monaco-list-row .monaco-icon-label:before {
    background-size: 17px !important;
    padding-right: 8px !important;
}
